.nav-item {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    background: none;

  }

  .nav-item a {
    font-size: 20px;
    background: none;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 2;
    padding: 0 5px;
  }

  .underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
  }

  .underline path {
    transition: stroke-dashoffset 0.6s ease-in-out;
  }

  .nav-item:hover .underline path {
    stroke-dashoffset: 0;
  }