@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap'); /* "Jost"   */



/* body{
    width: 100%;
    height: auto;
    font-family: "Jost";
} */


.slideShowContainer {
display: flex;
width: 100%;
height: auto;
align-items: center;
justify-content: center;
align-content: center;
margin-top: 2%;
}

.mySlider ,fade {

   width: 50%;
   height: auto;
   align-items: center;
   justify-content: center;
   margin: auto;
   display: block;
}
.mySlider img{
    width: 100%;

}


