@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap'); /* "Jost"   */

html body{
    width: 100%;
    /* height: auto; */
    margin: 0;
}

.imgHero{
    margin-top: 3%;
    width: 100%;
    height: 530px;
    display: block;
    background-image: url("/img/fotos/estudio4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    width: 100%;
    height: fit-content;
    
}

.hero span{
    width: 100%;
    display: flex;
    padding-top: 200px;
    align-items: center;
    justify-content: center;
    background: none;
    position: absolute;
    font-family: 'Jost';
    font-size: 80px;
    font-weight: bolder;
    color: rgb(240, 243, 245);
}

.esloganMedio{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.esloganMedio h1{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jost';
    font-weight: 300;
    /* font-style: oblique; */
    transform: skew(-15deg);
    padding-top: 4%;
    padding-bottom: 4%;
    text-shadow: 2px 2px 10px rgb(151, 3, 250,0.3);

}

.hardwareMain{
    font-family: 'Jost';
    margin: auto;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
    /* background-color: rgb(236, 174, 79); */
}

.listaHardware{
    /* text-align: center; */
    justify-content: center;
    margin: auto;
}



.backlineMain{
    font-family: 'Jost';
    margin: auto;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 5%; */
    padding: 2% 0;

}


.listaBackline{
    /* text-align: center; */
    justify-content: center;
    margin: auto;
}



.parallax{
    
 /* comunica en este caso las 3 div y comparte como fondo de los divs la imagen
  configuracion del fondo*/
  background-image: url("/img/fotos/estudio2.jpg");
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.parallax2{
    
 /* comunica en este caso las 3 div y comparte como fondo de los divs la imagen
  configuracion del fondo*/
  background-image: url("/img/fotos/estudio6.jpg");
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2%;
}