@import url(//fonts.googleapis.com/css?family=Lato:300:400);

/* body {
  margin:0;
} */



/* .inner-header {
  height:6vh;
  width:100%;
  margin: 0;
  padding: 0;
} */

/*.flex { Flexbox for containers
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}*/
.sectionOlas{
  /* position: relative;
  height: 0px;
  overflow: hidden; */
  width: 100%;
  position: fixed;
  height: auto;
  overflow: visible;
  bottom: 0;
}
.containerWaves{
  position: relative;
    bottom: 0; /* Ajusta a la parte superior */
    left: 0; /* Ajusta al lado izquierdo */
    width: 100%; /* O un ancho específico */
   /*  background-color: #f0f0f0; Color de fondo */
    /* padding: 10px; Espacio interno */
    z-index: 100; /* Asegura que esté por encima de otros elementos */
    height: auto;
    overflow: hidden;
}


.waves {
  position:relative;
  width: 100%;
  height: 15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
  
}

.content {
  position:relative;
  height: 20vh;
  text-align:center;
  background-color: transparent;
}



/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
.parallax > use:nth-child(5) {
  animation-delay: -6s;
  animation-duration: 17s;
}
.parallax > use:nth-child(6) {
  animation-delay: -8s;
  animation-duration: 19s;
}
.parallax > use:nth-child(7) {
  animation-delay: -3s;
  animation-duration: 15s;
}
.parallax > use:nth-child(8) {
  animation-delay: -5s;
  animation-duration: 11s;
}
.parallax > use:nth-child(9) {
  animation-delay: -7s;
  animation-duration: 21s;
}
.parallax > use:nth-child(10) {
  animation-delay: -9s;
  animation-duration: 17s;
}
.parallax > use:nth-child(11) {
  animation-delay: -3s;
  animation-duration: 11s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile
@media (max-width: 768px) {
  .waves {
    width: 100%;
    height:100px;
    min-height:40px;
  }
  .content {
    height:40vh;
  }*/
  /* h1 {
    font-size:24px;
  } 
}*/
/* @media (max-width: 480px) { 

  .waves {
    width: 100%;
    height:100px;
    min-height:20px;
    bottom: 0;
  }
  .content{
    position:relative;
  height: 1vh;
  text-align:center;
  background-color: transparent;
  }

}
@media (max-width: 430px) {
  .body{
  width: 100%;
  height: auto;
}

.waves {
  width: 100%;
  height:100px;
  min-height:20px;
  bottom: 0;
}
.content{
position:relative;
height: 10vh;
text-align:center;
background-color: transparent;
}
}

 