slideShowContainer {
    max-width: auto; /* define el ancho maximo del contenedor .(ancho por defecto de las pantallas) */
    position: relative;
    /* posicionamos los elementos dentro del contenedor de forma relativa */
    margin: auto;
    /* centramoe el contenedor horizontalmente en la pagina */
  }
  
  /* ocultamos las imagenes del slider por defecto*/
  .mySlider {
    display: none;
    /*oculta el display (img o vista del cliente) hasta que se active en JS*/
  }
  /* botones de anterior y siguiente */
  .prev,
  .next {
    width: 90px;
    cursor: pointer;
    position: absolute; /* porque esta por encima de la imagen*/
    top: 40%;
    width: auto;
    margin-top: -15px; /*para que se ajuste y se centre verticalmente*/
    padding: 16px;
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 60px;
    transition: 0.6s ease; /*ease es suave la transicion*/
    border-radius: 0 3px 3px 0;
    user-select: none; /*evita que el texto del boton sea seleccionable*/
  }
  
  .next {
    display: flex;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    display: flex;
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(193, 194, 193, 0.3);
  }
  
  .textBottom {
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    bottom: 5%x;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: x-large;
  }
  
  /* .numberText {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bolder;
    padding: 8px 12px;
    position: absolute;
    bottom: 28%;
  } */
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
      background-color: #717171;
  }
  
  .fade {
      animation-name: fade;
      animation-duration: 1.5s;
  }
  
  /*la animacion de desvanecimiento (fade) */
  
  @keyframes fade{
      from {opacity: .4;}
  to {opacity:1;}
  
  }