@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap'); /* "Jost"   */

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.sectionDiv{
    display: block;
    width: 100%;
    height: auto;
}
.texto{
    font-family: "Jost";
    width: 90%;
    align-content: center;
    text-align: center;
    text-justify: auto;
    margin: auto;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 3%;
}
.texto h1{
    text-align: left;
}
.texto p{
    width: 80%;
    margin: auto;
}

.parallax{
    
  /*comunica en este caso las 3 div y comparte como fondo de los divs la imagen*/
  /*configuracion del fondo*/
  background-image: url("/img/fotos/sobreNosotros/IMG20230530115157.png");
  height: 300px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  

}
.parallax2{

    background-image: url("/img/fotos/matEnVivo.jpg");
    background-position-y: 350px ;
    width: 75%;
    margin: auto;
    background-size: contain;
    

}

.integrantesDiv1{
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
    font-family: "Jost";
}
.integrantesDiv2{
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
    font-family: "Jost";
}
.integrantesDiv1 span{
    width: 80%;
    font-size: large;
    font-weight: bold;
    margin:auto;
    padding: 2% 3%;
    /* background-color: rgba(182, 21, 168, 0.37); */
    text-align: center;
    align-content: center;
}

.integrantesDiv2 span{
    width: 50%;
    font-size: large;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 1%;
    padding: 2% 3%;
    /* background-color: rgba(182, 21, 168, 0.37); */
    text-align: center;
    align-content: center;
    
}

.sectionDiv{
    display: block;
}


@media (max-width: 1024px) {
    
.sectionDiv{
    display: block;
    width: 100%;
    height: auto;
}

.parallax{
    
  /*comunica en este caso las 3 div y comparte como fondo de los divs la imagen*/
  /*configuracion del fondo*/
  margin: auto;
  margin-top: 1%;
  background-image: url("/img/fotos/sobreNosotros/IMG20230530115157.png");
  height: 450px;
  width: 95%;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  

}

.texto{
    font-family: "Jost";
    width: 99%;
    align-content: center;
    text-align: center;
    text-justify: auto;
    margin: auto;
    font-weight: bold;
    margin-top: 0.5%;
    margin-bottom: 1%;
}
.texto h1{
    text-align: center;
    /* font-size: ; */

}
.texto p{
    width: 80%;
    margin: auto;
    font-size: large;

}

.integrantesDiv1{
    margin: auto;
    margin-top: 3%;
    display: flex;
    width: 90%;
    height: auto;
    font-family: "Jost";
}

.integrantesDiv1 span{
    /* width: 100%; */
    font-size: large;
    font-weight: bold;
    margin:auto;
    padding: 2% 3%;
    /* background-color: rgba(182, 21, 168, 0.37); */
    text-align: center;
    align-content: center;
    margin-top: 2%;
}

}



@media (max-width: 768px) {
.sectionDiv{
    display: block;
    width: 100%;
    height: auto;
}

.parallax{
    
  /*comunica en este caso las 3 div y comparte como fondo de los divs la imagen*/
  /*configuracion del fondo*/
  margin: auto;
  margin-top: 1%;
  background-image: url("/img/fotos/sobreNosotros/IMG20230530115157.png");
  height: 250px;
  width: 95%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  

}

.texto{
    font-family: "Jost";
    width: 99%;
    align-content: center;
    text-align: center;
    text-justify: auto;
    margin: auto;
    font-weight: bold;
    margin-top: 0.5%;
    margin-bottom: 1%;
}
.texto h1{
    text-align: center;
    font-size: medium;

}
.texto p{
    width: 80%;
    margin: auto;
    font-size: x-small;

}

.integrantesDiv1{
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
    font-family: "Jost";
}

.integrantesDiv1 span{
    width: 95%;
    font-size: x-small;
    font-weight: bold;
    margin:auto;
    padding: 2% 3%;
    /* background-color: rgba(182, 21, 168, 0.37); */
    text-align: center;
    align-content: center;
}

}



@media (max-width: 480px) {

.sectionDiv{
    display: block;
    width: 100%;
    height: auto;
}

.parallax{
    
  /*comunica en este caso las 3 div y comparte como fondo de los divs la imagen*/
  /*configuracion del fondo*/
  margin: auto;
  margin-top: -1%;
  background-image: url("/img/fotos/sobreNosotros/IMG20230530115157.png");
  height: 250px;
  width: 95%;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  

}

.texto{
    font-family: "Jost";
    width: 99%;
    align-content: center;
    text-align: center;
    text-justify: auto;
    margin: auto;
    font-weight: bold;
    margin-top: 0.5%;
    margin-bottom: 1%;
}
.texto h1{
    text-align: center;
    font-size: large;

}
.texto p{
    width: 80%;
    margin: auto;
    font-size: small;

}

.integrantesDiv1{
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
    font-family: "Jost";
}

.integrantesDiv1 span{
    width: 99%;
    font-size: x-small;
    font-weight: bold;
    margin:auto;
    padding: 5% 3%;
    /* background-color: rgba(182, 21, 168, 0.37); */
    text-align: center;
    align-content: center;
}

}