@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap');
/* 
"Special Elite" 
"Jost"  
"Cinzel"
*/ 

html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}


.galeria{
    align-items: center;
    justify-content: center;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 1fr;
    gap: 5px;
    margin: auto;
    margin-top: 60px;

    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2%;
    padding:30px; */
}

.card{
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.imagenConFondo{
    position: relative;
    width: 100%;
    height: 250px;
}

.imagenConFondo .fondo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.imagenConFondo .frontal{
    position: absolute;
    top: 30px;
    left: 55px;
    width: 140px;
    height: 140px;
    object-fit: cover;
    box-shadow: 0 15px 15px rgb(0, 0, 0,1);

}
.tipografia{
    width: 100%;
    height: 100%;
position: absolute;
top: 80%;
}
.tipografia h2{
font-family: "Cinzel" ;
    /* position: absolute;  */
    font-weight: bold;
    text-align: center;
    margin: 0%;
    margin-bottom: 8%;
    text-align: center;
    font-weight: normal;
    font-size: x-large;
}
.tipografia p{
     font-family: "Special Elite";
    margin: auto;
    text-align: center;
    text-justify: center;
    padding-bottom: 10px;
}


/* RESPONSIVO */

/* tablets */
@media (max-width: 1024px) {

    .body{
        margin: 0%;
        width: 100%;
    }

    .galeria{
    align-items: center;
    justify-content: center;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1fr;
    gap: 5px;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    gap:2%;
    padding:10px;

}

.card{
    width: 220px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagenConFondo{
    position: relative;
    width: 100%;
    height: 160px;
}

.imagenConFondo .fondo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.imagenConFondo .frontal{
    position: absolute;
    top: 15px;
    left: 60px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: 0 15px 15px rgb(0, 0, 0,1);

}

.tipografia{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 78%;
}

.tipografia h2{
font-family: "Cinzel" ;
    /* position: absolute;  */
    font-weight: bold;
    text-align: center;
    /* margin-top: 0%; */
    margin-bottom: 1%;
    text-align: center;
    font-weight: normal;
    font-size: x-large;
}

.tipografia p{
     font-family: "Special Elite";
    margin: auto;
    margin-bottom: 2%;
    text-align: center;
    text-justify: center;
    padding-bottom: 10px;
    font-size: large;
}
}


/* Para móviles grandes */
@media (max-width: 768px) {

    .body{
        margin: 0%;
        width: 100%;
    }

    .galeria{
    align-items: center;
    justify-content: center;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1fr;
    gap: 2px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    /* here to fit at 
    display: flex;*/
    justify-content: center;
    flex-wrap: wrap;
    gap:2%;
    padding:5px;
}

.card{
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagenConFondo{
    position: relative;
    width: 100%;
    height: 150px;
}

.imagenConFondo .fondo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.imagenConFondo .frontal{
    position: absolute;
    top: 15px;
    left: 50px;
    width: 90px;
    height: 90px;
    object-fit: cover;
    box-shadow: 0 15px 15px rgb(0, 0, 0,1);

}

.tipografia{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 78%;
}

.tipografia h2{
font-family: "Cinzel" ;
    /* position: absolute;  */
    font-weight: bold;
    text-align: center;
    /* margin-top: 0%; */
    margin-bottom: 1%;
    text-align: center;
    font-weight: normal;
    font-size: medium;
}

.tipografia p{
     font-family: "Special Elite";
    margin: auto;
    margin-bottom: 2%;
    text-align: center;
    text-justify: center;
    padding-bottom: 10px;
    font-size: small;
}
}

/* Para móviles pequeños */

@media (max-width: 480px) {
    .body{
        margin: 0%;
        width: 100%;
    }

    .galeria{
    align-items: center;
    justify-content: center;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 1fr;
    gap: 2px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;

    /* here to fit at 
    display: flex;*/
    justify-content: center;
    flex-wrap: wrap;
    gap:2%;
    padding:5px;
}

.card{
    width: 170px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagenConFondo{
    position: relative;
    width: 100%;
    height: 150px;
}

.imagenConFondo .fondo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.imagenConFondo .frontal{
    position: absolute;
    top: 15px;
    left: 40px;
    width: 90px;
    height: 90px;
    object-fit: cover;
    box-shadow: 0 15px 15px rgb(0, 0, 0,1);

}

.tipografia{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 78%;
}

.tipografia h2{
font-family: "Cinzel" ;
    /* position: absolute;  */
    font-weight: bold;
    text-align: center;
    /* margin-top: 0%; */
    margin-bottom: 1%;
    text-align: center;
    font-weight: normal;
    font-size: medium;
}

.tipografia p{
     font-family: "Special Elite";
    margin: auto;
    margin-bottom: 2%;
    text-align: center;
    text-justify: center;
    padding-bottom: 10px;
    font-size: small;
}

}
